<div class="page">
    <main class="page__main">
        <div class="page__body">
            <h1>{{error.status}} {{error.message}}</h1>
            <pre>{{{error.stack}}}</pre>
            mgfnhgngnhgf
        </div>
    </main>
</div>
