<div class="dealer-locator__infobox__inner">
	<ul>
		<li class="name">{{name}}</li>
		<li class="address">{{address}}<br />{{city}}</li>
		<li><button class="button" data-outletcode="{{outletcode}}" hook="dealer-locator-button">Service-Partner wählen</button></li>
	</ul>
</div>