# OSX
.DS_Store

# Intellij Idea
.idea/
.idea/frontendBoilerplate.iml

# node
/src/logs
/src/npm-debug.log
/src/node_modules/
/npm-debug.log

# dist
src/frontend/dist/data/
src/frontend/dist/views/
src/frontend/dist/static/
src/frontend/dist/static
# generated assets
src/frontend/src/views/page/icons.handlebars
