.m-mainText {
    margin-left: 0;
    margin-right: 0;
    padding: 14px 20px;
    position: static;
    text-align: left;
}

.m-mainText__title {
    font-size: 1.9rem;
    font-weight: var(--font-weight-headline);
    line-height: 2.2rem;
    margin-bottom: 0;
    max-width: 28rem;
}

.m-mainText__text {
    color: var(--grey);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 28rem;
}

.mainText__title_accent {
    color: var(--active-color);
}

@media (--tablet) {
    .m-mainText {
        margin-left: 2.5rem;
        margin-right: .38rem;
        padding: auto;
        text-align: left;
        top: 2rem;
    }

    .pageIndex .m-mainText {
        margin-left: 2.5rem;
        margin-right: .38rem;
        padding: auto;
        position: absolute;
        text-align: left;
        top: 1rem;
    }

    .m-mainText__title {
        font-size: 2rem;
        font-weight: var(--font-weight-headline);
        line-height: 2.4rem;
        margin-bottom: 0;
        max-width: 28rem;
    }

    .m-mainText__text {
        color: var(--grey);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: 1.4rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        max-width: 28rem;
    }
}
