/* .main_navigation {
    background-color: transparent;
    height: 180px;
    position: absolute;
    top: 0;
    z-index: 99999;
} */

.main_navigation nav {
    padding: 0;
}

.main_navigation ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_navigation ul li {
    flex-grow: 1;
    text-align: left;
}

.main_navigation a {
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 auto;
    max-width: auto;
    text-decoration: none;
}

.main_navigation a span {
    display: block;
    padding: 13px 0;
}

svg.deskt {
    display: none;
    margin: auto;
}

svg.mobile {
    display: block;
    float: left;
    margin-right: 8px;
    position: relative;
    top: 13px;
}

.main_navigation a:hover {
    color: var(--active-color);
}

.main_navigation a:hover svg path {
    fill: var(--active-color) !important;
}

.pageInformation .main_navigation a.pageInformation,
.pageCalculate .main_navigation a.pageCalculate,
.pageContact .main_navigation a.pageContact {
    color: var(--active-color);
}

.pageInformation .main_navigation a.pageInformation svg path,
.pageCalculate .main_navigation a.pageCalculate svg path,
.pageContact .main_navigation a.pageContact svg path {
    fill: var(--active-color) !important;
}

.pageInformation .main_navigation a.pageInformation,
.pageCalculate .main_navigation a.pageCalculate,
.pageContact .main_navigation a.pageContact,
.pageInformation .main_navigation a.pageInformation:hover,
.pageCalculate .main_navigation a.pageCalculate:hover,
.pageContact .main_navigation a.pageContact:hover {
    background: var(--grey);
}

.nav-container {
    display: none;
    transition: all .2s ease;
    z-index: 1;
}

.nav-hamb--label {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 48px;
    position: absolute;
    right: 10px;
    top: -70px;
    width: 60px;
    z-index: 999;
}

.nav-hamb--label i {
    background: #fff;
    border-radius: 2px;
    display: block;
    height: 2px;
    margin-left: 14px;
    width: 30px;
}

.nav-hamb--label i:nth-child(1) {
    margin-top: 16px;
}

.nav-hamb--label i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
}

.nav-hamb--label i:nth-child(3) {
    margin-top: 4px;
}

.nav-hamb--checkbox {
    display: none;
}

.nav-hamb--checkbox:checked + .nav-hamb--label {
    transform: rotate(45deg);
}

.nav-hamb--checkbox:checked + .nav-hamb--label i {
    background: #fff;
    transition: transform .2s ease;
}

.nav-hamb--checkbox:checked + .nav-hamb--label i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

.nav-hamb--checkbox:checked + .nav-hamb--label i:nth-child(2) {
    opacity: 0;
}

.nav-hamb--checkbox:checked + .nav-hamb--label i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

.nav-hamb--checkbox:checked ~ .nav-container {
    background: #000;
    display: block;
    margin-top: 94px;
    padding: 20px 0 0;
    z-index: 9990;
}

.nav-hamb--checkbox:checked ~ .nav-container ul li a {
    opacity: 1;
    padding-left: 20px;
    transform: translateY(0);
}

.nav-hamb--checkbox.hidden {
    display: none;
}

@media (--desktop) {
    .nav-hamb--label {
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 48px;
        position: absolute;
        right: 26px;
        top: -90px;
        width: 60px;
        z-index: 999;
    }
}
