<!doctype html>
<html class="no-js">
<head>
    <title>{{{plainTextTitle}}}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{meta.description}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>

    <script async src="/assets/js/vendor/modernizr/modernizr-custom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

    {{!-- Tracking Stage --}}
    <!-- Tracking code Stage -->
    <script src="//assets.adobedtm.com/2cb4dcceb31ca7bfe83ffa209561d85e49d11fa9/satelliteLib-dc1127e37d4d6dbe0fdbcf016ed818f9d6798bc6-staging.js"></script>

</head>
<body>
{{{body}}}
<script async src="/assets/js/main.js"></script>

{{!-- Tracking Stage --}}
<!-- Tracking code Stage -->
<script type="text/javascript">_satellite.pageBottom();</script>

<noscript><img src="https://daimlerag.d2.sc.omtrdc.net/b/ss/daimis00086/1/G.4--NS/<random number>?c.&javascript=disabled&.c" width="1" height="1" border="0" /></noscript> <!--  TODO: Get a random number from backend.-->
</body>
</html>
