<nav>
  <input type="checkbox" class="nav-hamb--checkbox hidden" id="nav-hamb"/>
<label for="nav-hamb" class="nav-hamb--label"><i></i><i></i><i></i></label>
<div class="nav-container">
  <ul>
    {{#each navigationItem}}

    <li><a class="class" href="{{href}}">
        <span>{{text}}</span>
      </a>
    </li>

  {{/each}}

  </ul>
</div>
</nav>
