/*
 * base setup and variables
 */

:root {
    /* colors */
    --white: #fff;
    --dark-grey: #6d7070;
    --grey: #a4a6a6;
    --light-grey: #b9b9b9;
    --lighter-grey: rgb(201, 201, 201);

    /* general */
    --active-color: #e24f4f;
    --hover-color: #cf3131d5;
    --error-color: var(--active-color);
    --background-color: #282a2a;
    --darkgreen-color: #292d2a;
    --headline-color: var(--grey);
    --text-color: var(--light-grey);
    --font-size: 13px; /* 18px */
    --font-weight: 400;
    --font-weight-headline: 300;
    --font-family-headline: "Poppins", sans-serif;
    --font-family: "Poppins", sans-serif;

    /* columns */
    --col-margin-bottom: .5rem; /* 8px */
    --col-space-between: 4%;

    /* container */
    --container-background-color: #282a2a;

    /* inputs */
    --input-color: var(--dark-grey);
    --input-background-color: var(--white);
    --input-font-size: .94rem; /* 15px */

    /* checkboxes */
    --checkbox-color: var(--light-grey);
    --checkbox-background-color-hover: #e6e6e6;
    --checkbox-background-color-hover-selected: #d4d4d4;

    /* buttons */
    --button-color: var(--white);
    --button-background: var(--active-color);
    --button-background-hover: #f96350;
    --button-sec-color: var(--active-color);
    --button-sec-background: #333 linear-gradient(#333, #282828);
    --button-sec-background-hover: #282828 linear-gradient(#282828, #000);

    /* other */
    --dealerSelectionIcon-badge-size: 1.88rem; /* 30px */

    /* page layout */
    --max-page-width: 860px;
    --min-page-width: 320px;
}

/*
    define em based media queries - read more about em'based queries
    @ https://zellwk.com/blog/media-query-units/
*/
@custom-media --phone screen and (min-width: 320px);
@custom-media --phone-up screen and (min-width: 480px);
@custom-media --tablet screen and (min-width: 768px);
@custom-media --desktop screen and (min-width: 980px);
@custom-media --desktop-large screen and (min-width: 1280px);
