<div id="cookieLayer" class="cookieLayer">
  <div class="cookieLayer-header">
    <a id="cookieLayerCloser" class="cookieLayerCloser">Schliessen</a>

  </div>
    <h1 class="m-mainText__title">{{header}}
    </h1>
    <p>{{text}}</p>
</div>
